body{
  font-family: Arial;
}
.card-collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.standout {
/*   border: 1px  solid;
  padding: 2px;
  box-shadow: 3px 3px 3px 3px #888888; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
}

h1,h2,h3,h4,h5,p{
  text-align: center;
}